$darkpurple: #0C002B;
$gray: #FAF7F5;
$offwhite: #FFFEFF;
$pink: #FF718E;
$darkgray: #BAC0C9;
$lightgray: #DAE2EF;
$offtan: #EEE2DC;
$lightsand: #EDC7B7;
$offgray: #BAB2B5;
$darkblue: #123C69;
$maroon: #AC3B61;
